@import "../variables";

.suggestionsLeftPanel {
  max-width: 255px;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  // max-height: 529px;

  @media (max-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }
}
