// fonts
@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Jost";
  src: url("../assets/fonts/Jost-Bold.ttf") format("truetype");
  font-weight: 700;
}

$font: Jost, Arial, Helvetica;

// colours
$white: #ffffff;
$whiteDirty: #f7f8fd;

$gray: #647196;
$grayLight: #f2f4ff;

$blue: #4661e6;
$blueLight: #62bcfa;
$blueExtraLight: #f2f4ff;

$black: #373f68;
$blackLight: #3a4374;

$purple: #ad1fea;
$purpleLight: #c75af6;

$peach: #f49f85;

// hovers colors

$blueHover: #cfd7ff;

$gradient: linear-gradient(
  90deg,
  rgba(232, 77, 112, 1) 0%,
  rgba(163, 55, 246, 1) 40%,
  rgba(140, 76, 244, 1) 57%,
  rgba(40, 167, 237, 1) 100%
);
