@import "variables";

// css reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
///

.app {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 0px 165px 129px 165px;
  font-family: $font;
  background-color: $whiteDirty;
  // height: 100vh;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0px 40px 113px 40px;
  }
}
