@import "variables";

.btn {
  // width: 158px;
  padding: 12px 24px 12px 24px;
  border-radius: 10px;
  border-width: 0px;
  border-style: inherit;
  font-weight: 700;
  font-size: 14px;
  color: $white;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.purple {
  background-color: $purple;
  &:hover {
    background-color: $purpleLight;
  }
}

.blue {
  background-color: $blue;
  &:hover {
    background-color: $blueLight;
  }
}

.black {
  background-color: $black;
  &:hover {
    background-color: $gray;
  }
}

.red {
}

.goBackLink {
  display: flex;
  align-items: center;
}

.linkText {
  margin-left: 16px;
  font-weight: 700;
  font-size: 14px;
  color: $gray;
}

.addFeedbackBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
