@import "./variables";

.selectInputDropdown {
  z-index: 1;
  background-color: aqua;
  width: 100%;
  position: absolute;
  background-color: $white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mountedOnTopPanel {
  max-width: 255px;
  max-height: fit-content;
  top: 88px;
  left: 220px;
}

.mountedOnForm {
  top: 112px;
}

.active {
  color: $purple;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 20px;
  &:hover {
    color: $purple;
  }
  cursor: pointer;
}

.underlined {
  border-bottom: solid 1px $grayLight;
}
