@import "variables";

.statusPreview {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: $gray;
  .left {
    display: flex;
    gap: 16px;
  }
  .colorIndicator {
    align-self: center;
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
  .name {
    font-weight: 400;
  }
  .amount {
    font-weight: 700;
  }
}

#planned {
  background-color: $peach;
}

#inProgress {
  background-color: $purple;
}
#live {
  background-color: $blueLight;
}
